.gateContainer{
    width: 50%;
    margin-top: 1em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #fcf8f0;
    margin-top: 1em;
}

.backArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #daa520 ;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.backArrow:hover {
    background-color: #daa520;
    color: #fcf8f0;
}
.gatesPageTitle {
    margin: 0;
}


.subtitle {
    text-align: center;
    font-family: "Della Respira", serif;
}

.storyGates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
    /* Adjust spacing between columns */

    /* Optional: Adds spacing between items */
}

.gate {
    margin-bottom: 10px;
}