* {
    box-sizing: border-box;
    font-family: "Della Respira", serif;
}

body {
    background: #060200;/*#2b2b2b*/
    /* Dark theme: Lights off */ 
    /*font-family: 'Courier New', Courier, monospace;*/
    color: #fcf8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/*
#3B1D0F → Dark, warm reddish-brown
#4A2C1A → Dark chocolate brown
#5C2F1B → Rich, earthy brown
#3A1F14 → Warm espresso-like brown
*/

a {
    text-decoration: none;
}

a h1:hover {
    color: #daa520;
}

.gameTitle {
    /*background-color: black;*/
    font-family: "Della Respira", serif;
    color: #fcf8f0;
    text-align: center;
    margin: 1em 0;
}

.gameImage {
    text-align: center;
}

/*Summary page*/
.blurb {
    padding: 30px 2em 30px 2em;
    line-height: 2.5em;
}

.gameContainer{
    width: 75%;
}

.gameContainer,
.gateContainer {
    font-size: 18px;
    text-align: left;
    margin: auto  18em; 
    /*background-color: #060200;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
}

.menu,
.storyGates {
    font-family: "Della Respira", serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px;
    width: 100%;
    
}

/*.menuButton {
    color: red;
    text-align: center;
}*/

.menuButton,
.gate {
    font-family: "Della Respira", serif;
    font-size: 1.14em;
    background-color: #fcf8f0;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.05em;
    margin: 20px 20px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50% 50% 0 0; /* Arch Top /Yippie! */
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 15px 40px -25px rgb(218, 165, 32); /* Light leaking out effect */
}

.menuButton:hover,
.gate:hover {
    /* Yellow BG White Text? */
    background-color:#daa520;
    color: #fcf8f0;
    
}

.menuButton:active,
.gate:active {
box-shadow: rgba(218, 165, 32, .02) 0px 25px 20px -20px;
}

.menuButton span {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    text-align: center;
    margin-top:5em;
    font-size: .9em;
}


/* For smaller screens*/
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menuButton {
        /*width: 100%;*/
        font-size: 1rem;
        padding: .75rem 1rem;
    }

    .blurb{
        margin: auto;
    }
}