.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    /* Semi-transparent background */
    z-index: 9999;
    /* Make sure the pop-up is on top of everything */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 0 0;
    background-color: #fcf8f0;
    color: #060200;
    padding: 20px;
    width: 300px;
    /* of  the popup box */
    height: 200px;
    display: flex;
    flex-direction: column;

}

.popup-content h2 {
    text-align: center;
    font-size: 1.75em;
    font-weight: 550;
}

.popup-content p {
    font-size: 1.25em;
    text-align: center;
}

.save-popup .popup-content {
    width: 450px;
    height: 450px
}

#close-btn {
    position: absolute;
    bottom: 8px;
    right: 217px;
    font-size: 1.25em;
    cursor: pointer;
}

#close-btn:hover {
    color:#daa520;
}

.saveContainer {
    margin: 0 auto;
}

.saveAndDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.saveSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #060200;
    padding: 1em;
    margin-bottom: 1.5em;
    background-color: #fcf8f0;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 125px;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 15px 40px -25px #060200;
    transition: background-color 0.3s, color 0.3s;
}

.saveSlot:hover {
    color: #fcf8f0;
    background-color: #060200;
}

#trash1,
#trash2,
#trash3,
#trash4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    height: 50px;
    transition: color 0.3s;
}

#trash1:hover i,
#trash2:hover i,
#trash3:hover i,
#trash4:hover i {
    color: #daa520;
}
