#navWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    align-items: center;
    width: 100%;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-button {
    margin-left: 10px;
}

#backButton,
#forwardButton,
.nav a,
.nav a button,
.nav div {
    background-color: #fcf8f0;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 125px;
    height: 50px;
    border-radius: 50% 50% 0 0;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 15px 40px -25px rgb(218, 165, 32);
}

#backButton:hover,
#forwardButton:hover,
.nav a:hover,
.nav a button:hover,
.nav div:hover {
    background-color: #daa520;
    color: #fcf8f0;
}

/*#backButton {

}

#forwardButton {

}*/

#passageText{
    font-size: 18px;
    color:#fcf8f0;
    line-height: 1.5em;
    max-height: 600px;
        /* Set a max height for the container */
        overflow-y: auto;
        overflow-x: hidden;
    /*padding: 0px 160px 30px 160px;*/
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #060200;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fcf8f0;
    border-radius: 10px;
}

/*Firefox is strange!!*/
html {
    scrollbar-width: thin;
    scrollbar-color: #fcf8f0 #060200;
}







.link {
    color: #daa520; /*#8fbcbb*/
    /* A nice blue for links */
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: #cc9216; /*#88c0d0;*/
    text-decoration: none;
}

.fearBarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 35px;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 13px;
    margin: 20px 0;
    padding: 15px;
}

.fearLabel {
    font-size: 22px;
    color: #fcf8f0;
    /*use that one ice white blue color;*/
    min-width: 60px;
    text-align: right;
}

#fearBar {
    /*flex-grow: 1;*/
    /*This is what is filling the bar, find alternative */
    height: 100%;
    width: 0;
    /* Start empty */
    background-color: grey;
    /*#ff3b3b*/
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}